.Header {
  max-width: 1440px;
  height: 64px;
  margin: 0 auto 40px;
  display: grid;
  grid-template-columns: 24px 40px 64px auto;
  grid-template-areas: ". a . b";
  align-items: center;
  box-shadow: 0px 1px 0px #e2e6e9;
  
  border-left: 1px solid #e2e6e9;
  border-right: 1px solid #e2e6e9;

  &__logo {
    grid-area: a;
  }

  &__humburger-menu-button {
    height: 20px;
    width: 20px;
  }

  &__menu-toogler-checkbox {
    display: none;
  }
}

.logo {
  display: block;
  width: 40px;
  height: 22px;
  background: url(../../images/LOGO.svg) no-repeat ;
  background-position: center center;
  // align-self: center;
  transition: transform 0.3s linear;
}

.logo:hover {
  transform: scale(1.2);
}
